body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.clock-container {
    text-align: center;
}

.clock {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #888;
}

.time {
    font-size: 36px;
    margin-bottom: 20px;
}

.alarm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="time"] {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #45a049;
}
